@tailwind base;
@tailwind components;
@tailwind utilities;

/* The dark overlay over the bg image for the home section  */
.overlay {
  @apply after:block after:fixed after:w-full after:h-full after:top-0 after:left-0 after:bg-black after:opacity-80 after:z-0;
}

.bg-slide {
  transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.bg-slide::before {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.bg-slide:hover::before {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
