@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-rubik;
}

html {
  scroll-behavior: smooth;
  line-height: unset;
}

.overlay {
  @apply after:block after:absolute after:w-full after:h-full after:top-0 after:left-0 after:bg-black after:opacity-80 after:z-0;
}

.bg-slide {
  transition: 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}

.bg-slide::before {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: 1;
}

.bg-slide:hover::before {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card-zoom-image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover;
}
