.menu {
  @apply bg-menuColor;

  margin: 0;
  display: flex;
  flex-direction: column;
  width: 5rem;
  height: 100vh;
  font-size: 1.5em;
  padding: 0 1.85em;
  position: relative;
  align-items: center;
  justify-content: center;
}

.menu__item {
  all: unset;
  flex-grow: 1;
  z-index: 100;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  align-items: center;
  will-change: transform;
  justify-content: center;
  padding: 0.55rem 0 0.85rem;
  transition: transform 0.7s;
}

.menu__item::before {
  content: "";
  z-index: -1;
  width: 2.8em;
  height: 2.8em;
  border-radius: 50%;
  position: absolute;
  transform: scale(0);
  transition: background-color 0.7s, transform 0.7s;
}

.menu__item.active {
  transform: translate3d(0.8em, 0, 0);
}

.menu__item.active::before {
  @apply bg-deriveIcon;
  transform: scale(1);
}

.icon {
  width: 2.6em;
  height: 2.6em;
  stroke: white;
  fill: transparent;
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
}

.menu__item.active .icon {
  animation: strok 1.5s reverse;
}

@keyframes strok {
  100% {
    stroke-dashoffset: 400;
  }
}

.menu__border {
  @apply bg-menuColor;

  position: absolute;
  left: -20px;
  top: 0px;
  width: 10.9em;
  height: 2.4em;
  clip-path: url(#menu);
  will-change: transform;
  transform: rotate(90deg);
  transition: transform 0.7s;
}

.svg-container {
  width: 0;
  height: 0;
}

@media screen and (max-width: 50em) {
  .menu {
    font-size: 0.8em;
  }
}
